EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_PLACEHOLDER_PUBLISHABLE_KEY
EXPO_PUBLIC_API_URL=https://PLACEHOLDER_API_DOMAIN/trpc
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=PLACEHOLDER_GOOGLE_MAPS_API_KEY
EXPO_PUBLIC_DEMO_USER_ID=user-001
